@import '~antd/dist/antd.css';

.navleft{
    height: calc(100vh);
    background: #001529;
}

.main{
    background: #f1f3f5;
    height: calc(100vh);
    padding: 0 20px;
}

.main-bottom{
   margin-top: 20xp;
}